.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  margin: 4px;
  border-radius: 8px;
  background-color: blue;
  transition: box-shadow 0.3s ease;
  border: 2px solid #FFFFFF;
}
.cell:hover {
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5), 0 0 15px 4px rgba(0, 0, 0, 0.3);
  border: 2px solid #000000;
}


.blue {
  background-color: #0000ff;
  color: #FFFFFF;
}

.yellow {
  background-color: #ffff00;
}

.green {
  background-color: #008000;
}

.red {
  background-color: #ff0000;
}
